<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="dbconnectionconfig" value="server=.;uid=;pwd=;database=;Pooling=false" />
    <add key="dbschema" value="predict" />

    <add key="test" value="D:\webservice set\_basic_httpservice_server\upload\test\"/>
    <add key="etc" value="D:\webservice set\_basic_httpservice_server\upload\etc\"/>
    <add key="mms" value="D:\webservice set\_basic_httpservice_server\upload\mms\"/>

    <add key="mms_public_key" value=""/>
    

	<!--
		공개된 웹상에서 인증받지 않은 방문자가 접근가능한 프로시져명을 ,(콤마)로 구분하여 입력하세요.
		등록되지 않은 프로지져는 공개된 웹상에서 실행되지 않습니다.
	-->
	<add key="allow_proc_list"
	   value="
				 common_code_R,
				 common_code_CUD,
	 "/>
	
  </appSettings>
  <connectionStrings/>
  <system.web>
    
    <httpRuntime maxRequestLength="2097151" executionTimeout="1800" />
    
    <compilation debug="true"/>
    
    <authentication mode="None"/>

    <sessionState mode="InProc"  cookieless="false" timeout="30" />
    
	  
    <customErrors mode="Off"/>
    
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  
  </system.web>
</configuration>
